<!-- Import global variables -->
<?include ..\_SolutionItems\Variables.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Language="1033"
		 Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)"
		 UpgradeCode="c8795db6-2426-4f40-a615-671f26fcaf3a" InstallerVersion="200">

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<!-- UI stuff-->
		<UIRef Id="WixUI_KargWareFeatureTree" />

		<!-- components to install -->
		<Feature Id="ProductFeature" Title="WixToolset_Tutorials.Msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	</Package>

	<!-- Files to install -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="InstallFolder">
			<Component Id="ProductComponent">
				<File Source="$(SolutionDir)\README.md" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<!-- location to be installed which is referred above -->
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="InstallFolder" Name="AshConcepts"/>
		</StandardDirectory>
	</Fragment>

</Wix>
